{% extends 'base.html' %}
{% block title %}Inicio - Bienvenido{% endblock %}
{% load staticfiles %}
{% block archivos %}<link href="{% static 'css/singup.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<script src="{% static 'js/singup.js' %}"></script>
<style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
{% endblock %}
{% block content %}
{% include "menuanonymus.html" %}


<div class="container body-content" style="margin-top: 100px;">
        <main role="main">
            


<div class="container">
    <div class="login-form col-md-12 offset-md-0" style="border-radius:3%;">
        <h2 class="panel-title text-center">Registrate</h2>
        <hr>
        <h4 color="royalblue" class="text-center">Alumno</h4>
        <h2 class="center blue-text"><i class="material-icons md-96">account_circle</i></h2>
        <div class="tab-content">
            <div id="singup" class="container tab-pane  active show" style="border-top:1px solid #2196f3; border-bottom:1px solid #2196f3; border-left:1px solid #2196f3; border-right:1px solid #2196f3;">
                <br>
            <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
                        <label></label>
                        
                        <div class="form-group">
 

     <!--  Scripts{{ form }}-->

   {{form}}
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="submit" color="royalblue" class="btn btn-primary waves-effect waves-light">Registrar</button>
                            </div>
                        </div>
                    </div>
            </form>            </div>
        </div>
    </div>
</div>

        </main>
    </div>

<script>
  $(function () {
    $('#Singup a[href="#login"]').tab('show') // Select tab by name
    $('#Singup a[href="#singup"]').tab('show') // Select tab by name
  })

  $('#Singup a').on('click', function (e) {
  e.preventDefault()
  alert('aqui cayo')
  $(this).tab('show')
  $('#Singup a[href="#login"]').tab('show') // Select tab by name
  $('#Singup a[href="#singup"]').tab('show') // Select tab by name
})
</script>

<script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>


{% endblock %}