<!DOCTYPE html>
<html lang="es">
<head>
	{% load staticfiles %}
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<link rel="icon" href="media/home.ico">
  	<title>{% block title %}{% endblock %}</title>
    {% block archivos %}{% endblock %}
    {% load inclusion_tags %}
  	<!-- CSS  -->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

	<!--seccion del cuerpo de la pagina -->
	{% block content %}
	{% endblock %}

  <!-- seccion del pie de pagina -->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Somos una institucion municipal orientada a favorecer los estudios, y dar oportunidad a los estudiantes jovenes de nuestra ciudad con el fin de promover las aptitudes y talentos de los estudiantes.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Demostradores inc.</a>
      </div>
    </div>
  </footer>

  	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="{% static 'js/materialize.js' %}"></script>
  	<script src="{% static 'js/init.js' %}"></script>

  </body>
</html>