{% extends 'base.html' %}
{% block title %}Inicio - Bienvenido{% endblock %}
{% block content %}
{% include "menuanonymus.html" %}

<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
        	<br><br>
        	<h1 class="header center blue-text text-lighten-1"><img src="media/logoDemostradores.png" width="600" height="250" ></h1>
      	</div>
   	</div>
 	<div class="parallax">
 	</div>
 </div>


<div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center blue-text"><img src="media/alain.jpg" width="150" height="150" ></h2>
            <h5 class="center">Cervantes Ahumada Alain</h5>

            <p class="light">Documentador</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center blue-text"><img src="media/josema.png" width="150" height="150" ></h2>
            <h5 class="center">Marquez Enriques Jose Manuel</h5>

            <p class="light">Diseño</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center blue-text"><img src="media/rigo.jpeg" width="150" height="150" ></h2>
            <h5 class="center">Reyes Gonzales Rigoberto</h5>

            <p class="light">Programador</p>
          </div>
        </div>

                <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center blue-text"><img src="media/alex.jpg" width="150" height="150" ></h2>
            <h5 class="center">Silva Bautista Alexis Eduardo</h5>

            <p class="light">Programador y lider del proyecto.</p>
          </div>
        </div>
      </div>

{% endblock %}